{% from 'global_macros.html' import modal %}
{% from 'admin_macros.html' import movie_form %}
<div class="row">
{% for movie in movies %}
	<div class="card movie-card col-xs-12 col-md-3">
		<!--img class="card-img-top" alt="Movie Poster"-->
		<div class="card-body">
	    	<h4 class="card-title">{{ movie.title }} <small>{{ movie.year }}</small></h4>

	    	<p class="card-text">{{ movie.description }}</p>

	    	<button class="btn btn-secondary btn-card" title="Edit" data-toggle="modal" data-target="#editMovie{{movie.id}}">
	    		<small><i class="fa fa-pencil"></i></small>
	    	</button>

	    	<button class="btn btn-danger btn-card" title="Delete" data-toggle="modal" data-target="#deleteMovie{{movie.id}}">
	    		<small><i class="fa fa-trash-o"></i></small>
	    	</button>
		    {% call modal('deleteMovie', 'Delete Movie', small=True, attached_id=movie.id) %}
		    	<h5>Are you sure you want to delete {{ movie.title }} permenantly?</h5>

		    	<form action="{{ url_for('admin.delete_movie', movie_id=movie.id) }}" method="POST">
		    		<input type="submit" class="btn btn-danger" value="Yes, delete it">
	    		 	<button type="button" class="btn btn-default" data-dismiss="modal">
	    		 		No, wait!
	    		 	</button>
		    	</form>
		    {% endcall %}
		    {% call modal('editMovie', 'Edit Movie', attached_id=movie.id) %}
		    	{% with endpoint = url_for('admin.edit_movie', movie_id=movie.id) %}
		    		{{ movie_form(endpoint, movie=movie)}}
		    	{% endwith %}
		    {% endcall %}
	  </div>
	</div>
{% endfor %}
</div>