{% extends 'admin_layout.html' %}
{% from 'global_macros.html' import modal %}
{% from 'admin_macros.html' import movie_form, cinema_form, showing_form %}
{% block head %}
<link rel='stylesheet' href="{{ url_for('static', filename='css/typeahead.css') }}" type='text/css' />
{% endblock %}
{% block content %}
<div class="top-bar orange-gradient flex-container flex-row">
	<div class="logo-tiny logo-black">
		{% include 'logo.svg' %}
	</div>
	<div class="name clickable" data-href="{{ url_for('admin.index') }}"><h4>Clacket <small>Admin Portal</small></h4></div>
	<div class="dropdown settings float-right">
		<button type="button" id="dropdownBtn" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			{{ session['adminUsername'] }}
		</button>
		<div class="dropdown-menu" aria-labelledby="dropdownBtn">
		    <a class="dropdown-item" href="{{ url_for('admin.logout') }}">Logout</a>
		</div>
	</div>
</div>
<div class="row">
	<div class="side-bar flex-container flex-col col-xs-4 col-md-2 text-right">
		<button class="btn btn-transparent" data-select="movie-div">Movies</button>
		<button class="btn btn-transparent" data-select="cinema-div">Cinemas</button>
		<button class="btn btn-transparent" data-select="showing-div">Showings</button>
		<button class="btn btn-transparent" data-select="analytics-div">Analytics</button>
		<button class="btn btn-transparent" data-select="complaints-div">Complaints</button>
	</div>
	<div class="col-xs-8 col-md-10 content-bar">
		<div id="movie-div" class="content">
			<div class="flex-container flex-row">
				<button class="btn btn-blue" data-toggle="modal" data-target="#addMovie">
					<small><i class="fa fa-plus"></i></small> New Movie
				</button>
				{% call modal('addMovie', 'New Movie') %}
					{% with endpoint = url_for('admin.add_movie') %}
						{{ movie_form(endpoint) }}
					{% endwith %}
				{% endcall %}
			</div>
			<div>
				<h3>Recently Modified</h3>
				<div class="recent-grid" data-href="{{ url_for('admin.recent_movies', limit=10) }}">
					<h2 class="spinner">
						<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
						<span class="sr-only">Loading...</span>
					</h2>
				</div>
			</div>
		</div>
		<div id="cinema-div" class="content">
			<div class="flex-container flex-row">
				<button class="btn btn-blue" data-toggle="modal" data-target="#addCinema">
					<small><i class="fa fa-plus"></i></small> New Cinema
				</button>
				{% call modal('addCinema', 'New Cinema') %}
					{% with endpoint = url_for('admin.add_cinema') %}
						{{ cinema_form(endpoint) }}
					{% endwith %}
				{% endcall %}
			</div>
			<div>
				<h3>Recently Modified</h3>
				<div class="recent-grid" data-href="{{ url_for('admin.recent_cinemas', limit=10) }}">
					<h2 class="spinner">
						<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
						<span class="sr-only">Loading...</span>
					</h2>
				</div>
			</div>
		</div>
		<div id="showing-div" class="content">
			<div class="flex-container flex-row">
				<button class="btn btn-blue" data-toggle="modal" data-target="#addShowing">
					<small><i class="fa fa-plus"></i></small> New Showing
				</button>
				{% call modal('addShowing', 'New Showing') %}
					{% with endpoint = url_for('admin.add_showing') %}
						{{ showing_form(endpoint) }}
					{% endwith %}
				{% endcall %}
			</div>
			<div>
				<h3>Recently Created</h3>
				<div class="recent-grid" data-href="{{ url_for('admin.recent_showings', limit=10) }}">
					<h2 class="spinner">
						<i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
						<span class="sr-only">Loading...</span>
					</h2>
				</div>
			</div>
		</div>
		<div id="analytics-div" class="content">
			<h3>See analytics here</h3>
		</div>
		<div id="complaints-div" class="content">
			<h3>See and respond to complaints here</h3>
		</div>
	</div>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBOX6QcWKkIJzUK9jkKtvEpFN1zfon7eAc&libraries=places"></script>
<script src="{{ url_for('admin.static', filename='js/sidebar.js') }}"></script>
<script src="{{ url_for('admin.static', filename='js/map.js') }}"></script>
{% endblock %}