body {
	overflow-x: hidden;
}

.btn:focus, .btn:active {
 	box-shadow: none;
}


.col-centered {
    float: none;
    margin: 0 auto;
}

svg {
	overflow: visible;
}

.logo-small svg {
	width: 80px;
	height: 80px;
}

.logo-tiny svg {
	width: 50px;
	height: 50px;
}

.logo-black svg g path{
	fill: #0e0e0e;
	stroke: #0e0e0e;

}


.clickable {
	cursor: pointer;
}

@media (min-width: 768px) {
	.push-down {
		margin-top: 5em;
	}
}

form .form-control {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

.btn {
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 0.2em;
}

.btn:hover {
	filter: invert(100%);
}

.btn-submit {
	width: 100%;
	background-color: #e67e22;
}

.btn-blue {
	background-color: #3BD1B2;
}

.btn-transparent {
	background-color: transparent;
}

.close {
	cursor: pointer !important;
}

.flex-container {
   display: -webkit-flex;
   display: flex;
}

.flex-container.flex-row {
	-webkit-flex-direction: row;
   	flex-direction: row;
}

.flex-container.flex-col {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flex-container .float-right {
	margin-left: auto;
}

.card {
	margin: 1em;
}