/* Turn on custom 8px wide scrollbar */
::-webkit-scrollbar {
  width: 10px; /* 1px wider than Lion. */
  /* This is more usable for users trying to click it. */
  background-color: rgba(0,0,0,0);
  -webkit-border-radius: 100px;
}
/* hover effect for both scrollbar area, and scrollbar 'thumb' */
::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}
 

::-webkit-scrollbar-thumb:vertical {
  
  background: rgba(0,0,0,0.5);
  -webkit-border-radius: 100px;
  background-clip: padding-box;
  border: 2px solid rgba(0, 0, 0, 0);
  min-height: 10px; /*Prevent it from getting too small */
}
::-webkit-scrollbar-thumb:vertical:active {
  background: rgba(0,0,0,0.61); /* Some darker color when you click it */
  -webkit-border-radius: 100px;
}

.pointer {
	cursor: pointer;
}

.pin-me-down {
	position: absolute;
	bottom: 0;
}

.pin-me-right {
	position: absolute;
	right: 1em;
}

body {
	background-color: #0e0e0e;
	color: #ecf0f1;
	font-family: 'Rajdhani';
	overflow-x: hidden;
}

.top-bar div:not('.dropdown-menu') {
	display: inline-block;
}

.orange-gradient {
	color: #0e0e0e;
	background: #FF512F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


.modal-content {
	background-color: #0e0e0e;
	color: #ecf0f1;
}

.modal-content h1, .modal-content h2, .modal-content h3, .modal-content h4, .modal-content h5 {
	color: #ecf0f1;
}

.modal-header, .modal-footer {
	border: none;
}

.flash-modal-header {
	background: #FF512F;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F09819, #FF512F);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F09819, #FF512F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.modal-body .form-control {
	background-color: rgba(255,255,255,0.15);
    color: #F09819;
    font-weight: bold;
}

h1, h2, h3, h4, h5 {
	text-transform: uppercase;
	letter-spacing: 0.15em;
}

h1 small, h2 small, h3 small, h4 small, h5 small {
	opacity: 0.5;
}

.friendly {
	text-transform: none;
	font-family: 'Gochi Hand';
	letter-spacing: 0;
}

.friendly small {
	opacity: 1;
}


.btn:focus, .btn:active {
 	box-shadow: none;
}

.pac-container {
    z-index: 10000 !important;
}


.col-centered {
    float: none;
    margin: 0 auto;
}

svg {
	overflow: visible;
}

.logo-small svg {
	width: 80px;
	height: 80px;
}

.logo-tiny svg {
	width: 50px;
	height: 50px;
}

.logo-black svg g path{
	fill: #0e0e0e;
	stroke: #0e0e0e;

}


.clickable {
	cursor: pointer;
}

@media (min-width: 768px) {
	.push-down {
		margin-top: 5em;
	}
}

form .form-control {
	margin-top: 0.8em;
	margin-bottom: 0.8em;
}

.btn {
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 0.2em;
}

.btn:hover {
	filter: invert(100%);
}

.btn-submit {
	width: 100%;
	background-color: #e67e22;
}

.btn-blue {
	background-color: #3BD1B2;
}

.btn-transparent {
	background-color: transparent;
}

.close {
	cursor: pointer !important;
}

.flex-container {
   display: -webkit-flex;
   display: flex;
}

.flex-container.flex-row {
	-webkit-flex-direction: row;
   	flex-direction: row;
}

.flex-container.flex-col {
	-webkit-flex-direction: column;
	flex-direction: column;
}

.flex-container .float-right {
	margin-left: auto;
}

.card {
	margin: 1em;
}

.mapboxgl-popup-content {
	color: #0e0e0e;
}