{% macro search(query='') %}
<div class="row">
	<div class="col-xs-12 col-md-6 col-centered">
		<h2><small><i class="fa fa-search"></i></small> Search Movies</h2>
		<form action="{{ url_for('frontend.search') }}" method="GET">
			<input class="form-control search-box" type="text" name="query" value="{{ query }}" placeholder="Title">
		</form>
	</div>
</div>
{% endmacro %}

{% macro movie_cards(movies) %}
<div class="row">
  {% for movie in movies %}
    {{ movie_card(movie) }}
  {% endfor %}
</div>
  <script src="{{ url_for('frontend.static', filename='js/cards.js') }}"></script>
  <script src="{{ url_for('frontend.static', filename='js/movie.js') }}"></script>
{% endmacro %}

{% macro favorite_buttons(movie) %}
 {% if movie.favorited_by.filter_by(id=session['userId']).count() == 0 %}
  <span class="fav-this pointer" title="Add this movie to your favorites!">
    <i class="fa fa-heart-o hover-icon action" data-action="{{ url_for('frontend.fav_movie', movie_id=movie.id) }}" data-hover="fa fa-heart"></i>
  </span>
  {% else %}
  <span class="unfav-this pointer" title="Remove this movie from your favorites!">
    <i class="fa fa-heart hover-icon action" data-action="{{ url_for('frontend.unfav_movie', movie_id=movie.id) }}" data-hover="fa fa-heart-o"></i>
  </span>
  {% endif %}
{% endmacro %}

{% macro avg_ratings(movie) %}
{{ rating_stars(movie.avg_rating) }} {% if movie.avg_rating is none %}N/A{% else %}{{ movie.avg_rating | round(2, 'common') }}{% endif %}
{% endmacro %}

{% macro movie_card(movie) %}
<div class="margin-bottom col-xs-12 col-md-4">
	<!--img class="card-img-top" alt="Movie Poster"-->
	<div class="card movie-card card-body">
		{% for picture in movie.pictures %}
    		{% if loop.last %}
    			<img class="poster" src="{{ picture.url }}">
    		{% endif %}
    	{% endfor %}
    	<a href="{{ url_for('frontend.movie', movie_id=movie.id) }}">
    		<h4 class="card-title" data-href=>{{ movie.title }} <small>{{ movie.year }}</small></h4>
    	</a>
    	<span class="card-rating">{{ avg_ratings(movie) }}</span>
    	<p class="card-text">{{ movie.description }}</p>
      {% if 'userId' in session %}
      <p class="pin-me-down pin-me-right">
       {{ favorite_buttons(movie) }}
      </p>
      {% endif %}
  </div>
</div>
{% endmacro %}

{% macro rating_stars(rating) %}
  {% if rating is none %}
  {% set rating = 0 %}
  {% endif %}
  {% set remainder = rating % 1 %}
  {% set full = (rating - remainder) | int %}
  {% set half = 0 %}
  {% if remainder >= 0.5 %}
    {% set half = 1 %}
  {% endif %}
  {% set empty = 5 - (full + half) %}

  {% for x in range(full) %}
    <i class="fa fa-star"></i>
  {% endfor %}
  {% for x in range(half) %}
    <i class="fa fa-star-half-o"></i>
  {% endfor %}
  {% for x in range(empty) %}
    <i class="fa fa-star-o"></i>
  {% endfor %}
{% endmacro %}
