{% extends 'frontend_layout.html' %}
{% block head %}
<!--Mapbox-->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.44.0/mapbox-gl.css' rel='stylesheet' />
<!--End Mapbox-->
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-xs-12">
		<h2>Cinemas Nearby</h2>
		<p>All the cinemas within a certain radius of your location.</p>
	</div>
</div>
<div class="row">
	<div class="col-xs-12 col-md-4">
		<h4>Radius in Kilometers</h4>
		<input type="number" class="form-control" id="radius-box" name="radius" placeholder="Radius in KM" value="5" min="1">
	</div>
	<div class="col-xs-12 col-md-8">
		<div id="map" data-endpoint="{{ url_for('api.nearby_cinemas') }}"></div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('frontend.static', filename='js/map.js') }}"></script>
{% endblock %}