{% extends 'frontend_layout.html' %}
{% block head %}
<!--Mapbox-->
<script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet' />
<!--End Mapbox-->
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-xs-12">
		<h3>Nearby
			<br>
			<small>All the cinemas within 5KM radius of your location.</small></h3>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div id="map" data-endpoint="{{ url_for('api.nearby_cinemas') }}"></div>
	</div>
</div>
{% endblock %}
{% block scripts %}
<script src="{{ url_for('frontend.static', filename='js/map.js') }}"></script>
{% endblock %}