.top-bar {
	padding-top: 1.5em !important;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.top-bar button {
	color: white;
}

.top-bar .settings {
	justify-content: flex-end;
}

.register-btn {
	margin-bottom: 1em;
}

.top-bar button:hover {
	color: #FF512F;
}

.nav-bar {
	min-height: 3.5em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	padding-left: 1em;
	padding-right: 1em;
}

.nav-bar .btn {
	font-size: 1.5em;
	font-weight: normal;
}

#map {
	width: 97vw;
    min-height: 100vh;
    overflow: hidden;
    border-radius: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.content .row{
	padding: 1em;
}