@import url('https://fonts.googleapis.com/css?family=PT+Mono');
html {
	position: relative;
	min-height: 100%;
	width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


.movie-rating {
	font-size: 1em;
}

.movie-actions {
	font-size: 1.5em;
}


.fa-heart, .fa-heart-o {
	color: #ee5253;
}

footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	font-family: 'PT Mono', monospace;
	font-size: 0.8em;
	opacity: 0.5;
	transition-duration: 0.3s;
}

footer:hover{
	opacity: 1;
}

.fav-this, .unfav-this {
	font-size: 1.5em;
}


.movie-actions .fav-this, .movie-actions .unfav-this {
	font-size: 1em;
}

.movie-actions {
	background-color: rgba(255,255,255,0.1);
    padding: 0.5em;
    border-radius: 0.2em;
    font-size: 1.7em;
}

.movie-actions .stars {
	color: #e1b12c;
}

.movie-poster {
	width: 100%;
	border-radius: 0.2em;
}

.movie-faves .fa-heart {
	color: white !important;
	font-size: 0.8em;
}


.search-box {
	padding: 1em;
	opacity: 0.8;
	transition-duration: 0.3s !important;
	transition-property: opacity;
}

.search-box:hover, .search-box:focus {
	opacity: 1;
}

.top-bar {
	padding-top: 1.5em !important;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.top-bar button {
	color: white;
}

.top-bar .settings {
	justify-content: flex-end;
}

.register-btn {
	margin-bottom: 1em;
}

.top-bar button:hover {
	color: #FF512F;
}

.home-card {
	padding: 0.5em;
	border: 1px solid rgba(240,152,25,1);
	border-radius: 0.2em;
	width: 95%;
	transition-duration: 0.3s;
	opacity: 0.6;
	margin-bottom: 1em;
}

.home-card li {
	margin-top: 1em;
}

.footer a{
	color: #FF512F;
	filter: invert(100%);
}
.home-card h3 {
	font-size: 1.3em;
	text-align: center;
	text-transform: none;
}

.home-card:hover {
	opacity: 1;
}

.nav-bar {
	min-height: 2em;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 1em;
	padding-right: 1em;
}

.nav-bar .btn {
	font-size: 1.1em;
	font-weight: normal;
}

#map {
	width: 100%;
    min-height: 100vh;
    overflow: hidden;
    border-radius: 1em;
    margin-bottom: 1em;
}

.content .row{
	padding: 1em;
}

#radius-box {
	margin-bottom: 1em;
}


.movie-card  {
	background-color: rgba(255,255,255,0.05);
	border-radius: 0.2em;
	border: 1px solid rgba(240,152,25,0.2);
	transition-duration: 0.3s;
	transition-property: border-color;
	height: 100%;
}

.movie-card .poster {
	width: 100%;
	border-radius: 1em 0px;
	margin-bottom: 1em;
}

.movie-card a .card-title {
	color: white;
}

.movie-card a:hover {
	text-decoration: none;
}

.movie-card a .card-title:hover {
	color:  #FF512F;
}


.movie-card:hover {
	border-color: rgba(240,152,25,1);
}

.margin-bottom {
	margin-bottom: 1em;
}